@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------------------------------------------- */
/* !component */
@layer components {
  /* container */
  .section-container {
    @apply max-w-6xl mx-auto text-center  px-10;
  }
  .button-container {
    @apply flex flex-col justify-center  w-full my-6 text-xl text-white md:flex-row  md:justify-around md:items-center;
  }
  /* typgraphy */
  .paragraph-lg {
    @apply max-w-3xl mx-auto mb-10 md:text-xl text-grayishBlue;
  }
  .paragraph-md {
    @apply max-w-2xl mx-auto mb-10 md:text-xl w-1/2 text-grayishBlue;
  }
  .title-lg {
    @apply mb-8 text-2xl font-bold text-darkGrayishBlue md:text-5xl;
  }
  .title-md {
    @apply mb-4 text-2xl font-bold text-darkGrayishBlue mt-8;
  }
  /* img */
  .img-md {
    @apply max-w-[250px]   sm:max-w-[300px]  md:max-w-md mx-auto;
  }
  /* buttons */
  .btn-blue {
    @apply p-4 px-8 rounded-full shadow-lg bg-lightBlue duration-300 hover:bg-lightBlue/80 mt-2 text-white ;
  }
  .btn-green {
    @apply p-4 px-8 rounded-full shadow-lg bg-strongCyan duration-300 hover:bg-strongCyan/80 text-white ;
  }
}
/* ---------------------------------------------- */

body {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
